/* setting variables */

:root{
    --rangi: #5a5a5a;
    --boxShadow: -13px 13px 26px rgba(181, 181, 181, 0.2), 13px -13px 26px rgba(181, 181, 181, 0.2), -13px -13px 26px rgba(255, 255, 255, 0.9), 13px 13px 33px rgba(181, 181, 181, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(181, 181, 181, 0.5);
}
html {
    scroll-behavior: smooth;
  }
*{
    font-family: Poppins,sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--rangi);
    scroll-margin-top: 4rem;
}
body{
    margin: 0;
    padding: 0;
    /* color: var(--rangi); */
}
main{
    padding: 0 20px;
}
.loader{
    position: fixed;
    right: 0;
    left: 0;
    bottom:0;
    top:0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* animation-play-state: paused; */
}
.logo-pic{
    width: 200px;
    height: 200px;
    transform: scale(.9);
    animation:zoomer 1.5s 1s ease-in-out forwards infinite;
}
.shrink{
    animation: goUp 1.1s 0s ease-out forwards;

}

@keyframes goUp {


    100%{
        transform: translateY(-100%);
    }

}

@keyframes zoomer{
    0%{
        transform: scale(.9);
    }
    50%{
        transform: none;
    }
    100%{
        transform: scale(.9);
    }
}

.about{
    width: 100%;
    height:100vh;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.ham{
    display: none;
    position: fixed;
    z-index: 5;
    left: 1%;
    top:2%;
    cursor: pointer;;

}
.icon-close{
    display: none;
    transform-origin: center;
    animation: rota .8s ease-in;
    transform: rotate(180deg);
}
@keyframes rota{
    100%{
        transform: none;
    }
}
nav a:focus{
    text-decoration: underline;


}
.drop a{
    text-decoration: none;
    color:#FFF;
    position: relative;
    width: max-content;
    margin-bottom: 5px;
    margin-left: 10px;
}
.icon{
    width: 50px;
    height: 50px;
}
.drop{
    display: none;
    padding-top: 6px;
    position: absolute;
    /* bottom:0; */
    width: max-content;
    /* background-color: #242529; */
    background: #242529b0;
    border-left: 2px solid #44dd88;
    border-right: 2px solid #4d8f;
    padding-right: 7px;
}
.show{
    display: grid;

}
.remove{
    display: none;
}
.bg-pic{
    background: url("images/wats\ bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    width:100%;
    height:40%;
    border-bottom: 3px solid #4D84F2;
    position: relative;
}
.links{
    top: 0;
    position: fixed;
    padding: 10px 0px;
    background-color: rgba(36, 37, 41, 1);
    display: flex;
    align-items:center;
    justify-content: center;
    width:100%;
    z-index:5;
}
nav{
    display: flex;
    align-items:center;
    justify-content: center;
}
nav a{
    text-decoration:none;
    color:white;
    margin-left:20px;
    padding-bottom: 3px;
    position: relative;
}
.a-line{
position: absolute;
bottom:0;
width:100%;
height:2px;
/* background:#ff0e0e; */
}
.image{
    position:absolute;
    bottom: -2px;
    width:100%;
    text-align:center;
    /* opacity: 0; */
    /* animation: spin 2s 0.2s ease forwards; */
}
.image img{
    border-radius:50%;
    width:170px;
    height:170px;
    object-fit: cover;
    border:3px solid #4D84F2;
}
.text{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-grow: .6;
    text-align:center;
    color: #717070;
    padding: 0 15px;
}
.mark{
    background: none;
    /* font-size: 18px; */
    font-style: italic;
    color: var(--rangi);
    font-weight: 500;
}

.about-me{
    font-weight: 700;
    color: #5a5a5a;
    /* margin-top: 20px; */
    font-size: 25px;
}
.welcome{
    margin-top: 15px;
    line-height: 30px;
    max-width: 792px;
    /* min-width: 230px; */
}
@keyframes spin{
    0%{
        transform: translateY(-2.4rem) scale(.9);
        opacity:0;
        /* filter: blur(16px); */
    }
    100%{
        opacity: 1;
        transform: none;
        /* filter: none; */
    }
}




/* skills part  */
.skills{
   /* min-height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #5f5f5f;
    overflow-x: hidden;
}
.hexagon{
    padding: 10px;
}
.single-skill{
    display: flex;
    flex-direction: column;
    place-items: center;
    grid-gap: 10px;
    width: max-content;
    justify-content: center;
}
.skills-text{
    font-weight: 600;
    font-size: 1.6em;
    margin: 30px;
    text-align: center;
    color: #4e4e4e;
}
.skill-image{
    width: 90px;
    height: 70px;
    object-fit: scale-down;
}
.skill-name{
    font-weight: 500;
    font-size: 1.2em;
    color: black;
}
.all-skills{
    width: 100%;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.up, .bottom{
width: 100%;
text-align: center;
}
.swip{
    color: white;
    background: purple;
    border-radius: 50%;
    font-size: 70px;
    padding: 15px 33px;
}
.as{
    font-size: 70px;
    border-radius: 10px;
    background: #3ab2f8;
    color: white;
    padding: 15px 33px;
}
.max{
    max-width: 740px;
}






/* projects part  */
a{
    text-decoration: none;
}
.cont a, .pro-text a{
    color: #3ab2f8;
}
.projects{
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.pro-container{
    margin: 10px;
    width: 270px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--boxShadow);
    overflow: hidden;
    position: relative;
    text-align: left;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    justify-content: space-between;
}
.published{
    text-align: center;
    margin: 40px 0;
    color: var(--rangi);
}

.pro-image{
    width: 100%;
    height: 170px;
    object-fit: cover;
    position: relative;
    object-position: top;
}
.holder-img{
    position:absolute;
    width: 100%;
    height: 140px;
    left:0;
    top:0;
    z-index: 0;
}
.pro-container:hover .visit{
    display: flex;
}
.visit{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 229px;

    align-items: center;
    justify-content: center;
    color: #fff;
    /* transition: .7s; */
}
.visit span{
    width: max-content;
    height: max-content;
    padding: 0 20px;
    border: 2px solid white;
    border-radius: 30px;
    background: #00000073;
    display: flex;
    align-items: center;
    color: white;
}
.pro-text{
    line-height: 25px;
    padding: 10px;
    flex:0.5;
}
.social-icon{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.cont{
    display: flex;
    JUSTIFY-CONTENT: CENTER;

}
.cont a{
    display: flex;
    ALIGN-ITEMS: CENTER;
    JUSTIFY-CONTENT: CENTER;
    flex-wrap: wrap;

}
.design{
    min-height: unset;
}
.design .pro-text{
    margin: 14px 0;
}

.nev{
    width: max-content;
}
.nev-i{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}


/* contact me part  */

.contact{
    overflow-x: hidden;

    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: rgb(109, 184, 11); */
}
.right-section{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    height: 400px;
    justify-content: space-evenly;
    padding: 0 15px;
}
.feedback{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 10px 19px;
    justify-content: space-around;
    /* align-items: center; */
    background: url("images/conta.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
    width: 337px;
    box-shadow: 3px 2px 5px 0px #070707;
}
.input{
    padding: 10px;

    border-radius: 5px;
    background: rgba(255, 255, 255, 0.502);
    border: none;
    font-size: 16px;
    transition: .6s;
}
.input:focus{
    background-color: white;
    border: 1px solid #3ab2f8;
}
.input::placeholder{
    color: rgb(31, 30, 30);
    font-weight: 600;
    font-size: 16px;
}
.btn-div{
    text-align: center;
    display: flex;
    justify-content: center;
}
.btn{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #0b5af7;
    border: none;
    padding: 4px 18px;
    font-weight: 600;
    color: #fff;
}
.btn:hover{
background-color:#5385e8;
}
.inspi{
    position: relative;
}
.under{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    background-color: #0b5af7;
    left: 0;
}
.collins{
    text-align: right;
    font-style: italic;
}
.quote{
    font-size: 26px;
    line-height: 35px;
    font-family: karma,sans-serif;

}
.social{
    width: 100%;
    text-align: center;
}
.media-icons{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.social-icon:hover{
    transform: translateY(-5px);
}
.social-text{
    margin-bottom: 10px;
}
.contain{
    object-fit: contain;
}


/* responsiveness */
@media only screen and (max-width:390px){
*{
    font-size: 15px;
}
    .links{
    display: none;
}
.about-me{
    font-size: 20px;
}
.image img{
    width:140px;
    height: 140px;
}
.published{
    margin: 20px 0;
}
nav a{
    display: none;

}
.swip, .as{
    font-size: 45px;
    padding: 8px 23px;
}
.single-skill{
    margin: 10px;
}
.max{
    flex-direction: column;
}
.skills-text{
    font-size: 1.2em;
}
.ham{
    display: block;
}
.about{
    justify-content: space-between;

}
.hexagon{
    padding: 20px;
}
.skill-image{
    width: 55px;
    height: 55px;
}
.quote{
    font-size: 22px;
    padding: 6px;
}
.feedback{
    width: 94%;
}

}
